Intermediate/*
Plugins/*/Intermediate/*
Saved/*
DerivedDataCache/*
Binaries/*
Plugins/*/Binaries/*
.vs/*
*.sln
.idea/*
Platforms/*
*.vsconfig
Build/*
Content/StarterContent/*
.vscode/*
Content/Frost/Marketplace/*
Content/PolygonMilitary/*
Content/SFX_OF_WEAPON/*
Content/AdvancedShooter_SFX_System/*
Content/LowPolyRocks/*
Content/Frost/Maps/AAS_OilFields_BuiltData.uasset

