Intermediate/*
Plugins/*/Intermediate/*
Saved/*
DerivedDataCache/*
Binaries/*
Plugins/*/Binaries/*
.vs/*
*.sln
.idea/*
Platforms/*
*.vsconfig
Build/*
Content/StarterContent/*
.vscode/*
Content/PolygonMilitary/Meshes/Buildings/*
Content/PolygonMilitary/Meshes/Characters/*
Content/PolygonMilitary/Meshes/Generic/*
Content/PolygonMilitary/Meshes/Items/*
Content/PolygonMilitary/Meshes/New_Characters/*


Content/SFX_OF_WEAPON/*
Content/AdvancedShooter_SFX_System/*
Content/LowPolyRocks/*
Content/Frost/Maps/AAS_OilFields_BuiltData.uasset

